.commentsCoontainer{
    width:50vw;
   
}
.InitialContainer{
    display:flex;
    flex-direction: row;
}
.imageContainer{
    display:flex;
    justify-content: space-between;
}
.commentBy{
    font-size:20px;
    color: #1e293b;
    font-family:Roboto;
    padding-left: 8px;
    margin-bottom:0px;
    margin-top: 0px;;
}
.comment{
    margin-top:5px;
    font-size: 12px;
    color: #475569;
    padding-left: 30px;
    font-family: Roboto;
}
.initalNameContainer{
    height:25px;
    Width:25px;
    border-radius: 50px;
    background-color: #f97316;
    text-align: center;
    font-size: 18px;
    color:white;
}
.likeContainer{
    display: flex;
    justify-content: start;
    
}
.likeIcon{
    height:20px;
    padding-right: 10px;
    padding-left:10px;
}
.deleteIcon{
    height:20px;
    padding-right:10px;
}
.likedtext{
    margin-top:1px;
    color:rgb(0, 119, 255)
}
.liketext{
    margin-top:1px;
}