.bgcontainer{
  padding:30px;

}
.headercontainer{
  display:flex;

}
.commentsheader{
  font-size: 35px;
  font-family: Roboto;
  font-weight: bolder;
  margin-bottom:10px;

}
.description{
  font-size: 15px;
  font-family:Roboto;
  font-weight: bold;
  font-weight: 500;
  margin-bottom:5px;

}
.commentsImage{
  height:30vh;
  margin-left:10vh;
 
}
.nameInput{
  padding:3px;
  width:18.5vw;
  margin-bottom: 8px;
  margin-top:0px;
  padding-left:10px;
  padding-right: 10px;
  font-size: 13px;

}
.commentInput{
 padding-left:10px;
 padding-right: 10px;
  font-size: 14px;

}
 
 .commentAddButton{
  height:4vh;
  width:8vw;
  text-align: center;
  background-color: #0284c7;
  border:none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
 }
 .commentCountCountainer{
  height:6px;
  width:6px;
  background-color: #0b69ff;
  border-radius: 1px;
  color:#ffffff;
  font-size:15px;
  font-weight:500;
  padding:1px;
  margin-right:3px;
 }